requests
numpy
gdal[numpy]
pandas
geopandas

git+https://github.com/carboncredits/iucn_modlib.git
git+https://github.com/carboncredits/yirgacheffe
git+https://github.com/carboncredits/seasonality
pytest
pylint
mypy
